.group-image-thumb {
    height: 15rem;
    width: 20rem; 
}

.groups-card-body, .group-members-card-body {
    cursor: pointer;
    transition: all 0.4s;
}

.groups-card-body {
    background-color: #e4dad2;
}

.group-members-card-body {
    background-color: #fdf2e9;
}

.group-members-card-body:hover, .groups-card-body:hover {
    transform: translateY(-1rem);
}

#side-content .container {
    height: 100vh;
}

#side-content .side-nav,
.nav-menu {
    height: 100%;
}

#side-content .side-nav .nav-menu {
    list-style: none;
    padding: 40px 0;
    width: 200px;
    background-color:  #5B8FB9;
}

#side-content .side-nav .nav-item {
    position: relative;
    padding: 10px 20px;
}

#side-content .nav-item.active {
    background-color: #fff;
    box-shadow: 0px -3px rgba(0, 0, 0, 0.2), 0px 3px rgba(0, 0, 0, 0.2);
}

#side-content .nav-item.active a {
    color: #2980b9;
}

#side-content .nav-item a {
    text-decoration: none;
    color: #fff;
}
  
#side-content .menu-text {
    padding: 0 20px;
}

#side-content .side-nav .nav-item.active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 150%;
    width: 20px;
    box-shadow: 0 20px 0 0 #fff;
}

#dashboard-btn {
    margin-left: 2rem;
}

#side-content .side-nav .nav-item.active::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 100%;
    right: 0;
    height: 150%;
    width: 20px;
    box-shadow: 0 -20px 0 0 #fff;
}

.group-content {
    padding: 3.2rem;
}

.sidebar-option-selected-none {
    display: none;
}

#add_group_form input {
    margin-bottom: 1.2rem;
}

.add-member-btn {
    background-color: greenyellow;
    border: 1px solid transparent;
    border-radius: 11px;
    padding: 0.4rem 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2rem;
}